In [3]:
#Enter 3 numbers and get their sum and average.
a = 10
b = 20
c = 30
print(a+b+c)
print((a+b+c)/2)

60
30.0

In [19]:
#Enter the radius of the circle and get the area and circumference.
r = 20
pi = 3.14
print( pi*r**2)
print("cir: ",2*pi*r)

1256.0
cir:  125.60000000000001

In [21]:
#21. Create a variable x and assign it the value 10. Then create another variable y
that is twice the value of x. Reassign x to y minus 5 and print the final values
of x and y.
x = 10
y = 20
print(x)

SyntaxError: invalid syntax (609649997.py, line 2)

In [25]:
a = [[1,2,3],[4,5,6]]
r = len(a)
c = len(a[0])
l1=[]
for i in range(c):
    l2=[]
    for x in  range(r):
        l2.append(a[x][i])
        l1.append(l2)
print(l1)

[[1, 4], [1, 4], [2, 5], [2, 5], [3, 6], [3, 6]]

In [5]:
#23. Assign the values 3.5, 2.5, and 1.5 to the variables a, b, and c respectively in
a single line. Compute the average of these three numbers and print it.
a = 3.5
b = 2.5
c = 1.5
d = a+b+c/2
print((a+b+c)/2)

SyntaxError: invalid syntax (185306813.py, line 2)

In [1]:
n=int(input("enter the no of lines:"))
a=input("enter the character to be used:")
a=a+" "
for i in range(0,n):
    print(" "*(int((n-i)))+(a*i))

enter the no of lines: 9
enter the character to be used: a

        a
       a a
      a a a
     a a a a
    a a a a a
   a a a a a a
  a a a a a a a
 a a a a a a a a

In [19]:
n = 5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [23]:
n = 9
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [27]:
n = 9
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [64]:
n = 9
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print("@",end=" ")
    print()

                  @
                @ @
              @ @ @
            @ @ @ @
          @ @ @ @ @
        @ @ @ @ @ @
      @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @

In [113]:
n = 9
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("@",end=" ")
    for j in range(i,n):
       print("@",end=" ")
    print()

  @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
      @ @ @ @ @ @ @ @ @ @ @ @ @
        @ @ @ @ @ @ @ @ @ @ @
          @ @ @ @ @ @ @ @ @
            @ @ @ @ @ @ @
              @ @ @ @ @
                @ @ @
                  @

In [117]:
n = 9
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("@",end=" ")
    for j in range(i+1):
        print("@",end=" ")
    print()

                  @
                @ @ @
              @ @ @ @ @
            @ @ @ @ @ @ @
          @ @ @ @ @ @ @ @ @
        @ @ @ @ @ @ @ @ @ @ @
      @ @ @ @ @ @ @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @

In [125]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("@",end=" ")
    for j in range(i+1):
        print("@",end=" ")
    print()

          @
        @ @ @
      @ @ @ @ @
    @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @

In [19]:
n = 9
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("@",end=" ")
    for j in range(i+1):
        print("@",end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("@",end=" ")
    for j in range(i,n):
       print("@",end=" ")
    print()

                  @
                @ @ @
              @ @ @ @ @
            @ @ @ @ @ @ @
          @ @ @ @ @ @ @ @ @
        @ @ @ @ @ @ @ @ @ @ @
      @ @ @ @ @ @ @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
      @ @ @ @ @ @ @ @ @ @ @ @ @
        @ @ @ @ @ @ @ @ @ @ @
          @ @ @ @ @ @ @ @ @
            @ @ @ @ @ @ @
              @ @ @ @ @
                @ @ @
                  @

In [1]:
n = 5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [14]:
n= 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p+= 1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [16]:
n= 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p-= 1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [28]:
n = 5
p = 5
for i in range (n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
  
    p-= 1
    print()

  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [32]:
n = 5
p = 1
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ") 
    for j in range(i+1-1):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+= 1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

In [34]:
n = 5
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print("1",end=" ")
        else:
            print("2",end=" ")
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [48]:
n = 9
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1-1):
        if i%2==0:
            print("$",end=" ")
        else:
            print("#",end=" ")
    for j in range(i+1):
        if i%2==0:
            print("$",end=" ")
        else:
            print("#",end=" ")
        
    print()

                  $
                # # #
              $ $ $ $ $
            # # # # # # #
          $ $ $ $ $ $ $ $ $
        # # # # # # # # # # #
      $ $ $ $ $ $ $ $ $ $ $ $ $
    # # # # # # # # # # # # # # #
  $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $

In [82]:
n = 5
p = 1
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ") 
    for j in range(i+1-1):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+= 1

    print()
p = 4
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p-=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4 4 4 4
    3 3 3 3 3 3 3 3
      2 2 2 2 2 2
        1 1 1 1
          0 0

In [84]:
n = 5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [88]:
n = 5
for i in range(n):
    p = 1
    for  j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [1]:
n = int(input("n:"))
m = int(input("m:"))
for i in range(n,m):
    if i%5==0:
        break
print(i)

n: 1
m: 10

5

In [5]:
n = 9
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("@",end=" ")
    for j in range(i,n):
        print("@",end=" ")
    print()

  @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
    @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
      @ @ @ @ @ @ @ @ @ @ @ @ @ @
        @ @ @ @ @ @ @ @ @ @ @ @
          @ @ @ @ @ @ @ @ @ @
            @ @ @ @ @ @ @ @
              @ @ @ @ @ @
                @ @ @ @
                  @ @

In [19]:
n = 5
for i in range(n):
    p = 1
    for j in range(i+1):
        print(p, end=" ")
        p = p+1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
a = input()

 hello

helloolleh