In [15]:
n = 5
def odd_even(n):
    if n%2==0:
        print("Even")
    else:
        print("Odd")
odd_even(36)

Even

In [5]:
s = input("")
sub = input("")
flag=False
pos =-1
n = len(s)
while True:
    pos = s.find(sub,pos+1,n)
    if pos==-1:
        break 
    print("Found a position",pos)
    flag=True
if flag==False:
    print("not found")

 aartyuhaartvabna
 a

Found a position 0
Found a position 1
Found a position 7
Found a position 8
Found a position 12
Found a position 15

In [7]:
s="jitu choudhary"
l=s.split("____")
for x in l:
    print(x)

jitu choudhary

In [7]:
t = (40,10,30,20)
t1 = sorted(t,reverse=True)
print(t)
print(t1)

(40, 10, 30, 20)
[40, 30, 20, 10]